{erl_opts, [debug_info]}.
{deps, []}.

{ relx
, [ {release
    , { phone_service, "0.1.0" }
    , [ publication_guide  % extract to it's own service
      , phone_service
      % implement when `publication_guide` is out
    % , content_cache
    % , sasl
      ]
    }
  , {sys_config, "./config/sys.config"}
  , {vm_args,    "./config/vm.args"}
  , {dev_mode, true}
  , {include_erts, false}
  , {extended_start_script, true}
  ]
}.

{ profiles
, [ { prod
    , [ { relx
        , [ {dev_mode, false}
          , {include_erts, true}
          ]
        }
      ]
    }
  ]
}.
